.coupon {
    border: 1px solid #ff8500;
    width:100%;
    padding:20px;
}

.couponContents {
    color:#ff8500;  
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.coupondesc {
    line-height: 100%;
    font-size:15px;
}
.couponBtn {
    background-color: #ff8500;
    margin:5px;
    font-size: 30px;
    position:absolute;
    top:10%;
    text-align: center;
    margin:auto;
    color:white;
    /* border-radius:20px; */
    border:0px;
}

.couponBtn:focus {
    border:1px solid red !important;
}

@media only screen and (max-width:600px) {
    .couponBtn {
        font-size: 15px;
        position:initial;
        margin:10px auto;
        text-align: center;
        display:block;
        margin-bottom:0px;
    }
}