.footer {
    width:100%;
    background-color: black;
    margin-top:30px !important;
    
}
.footer_logo {
    margin-top: 50px;
    text-align: center;
}
.logofooter {
    width:100px;
}
.footer_list {
    text-align: center;
}
.footer_list ul {
    
    float:center;
    /* background-color: white; */
    width:60%;
    display:block;
    margin:0 auto;
    margin-top: 40px;
    padding:0;
}
.footer_list ul li{
    list-style:none;
    margin:0 auto;
    color:gray;
    display:block;
    width:100%;
    text-align: left;
    margin-left:90px;
    font-size: 20px;
    margin-top:15px;
    
}

.footer_form {
    margin-top:50px;
}

.footer_input {
    width:50%;
    height:40px;
}
.footer_textarea {
    width:100%;
    height:230px;
}

.footer_Button {
    background-color:#ff8500;
    width:150px;
    height:40px;
    float:right;
    color:white;
    border-radius:20px;
}
.footer_icon {
    width:40px;
    margin:0 auto;
    margin-left: 5px;
    margin-right: 5px;

}
.footer_copyright {
    color:gray;
    margin-top: 3px;
}

@media only screen and (max-width:600px) {
    .logofooter {
        width:50px;
    }
    .footer_list ul li {
        font-size:15px;
        margin-top:10px;
        margin-left:50px;
    }
    .footer_list {
        display:inline-block;
    }
    .footer_form  {
        margin:20px;
    }
    .footer_copyright {
        margin-bottom: 20px;
    }
    .footer_logo {
        height:200px;
    }
    .wrapper_logo {
        display:inline-block;
        vertical-align: middle;
        height:100%;
        padding-bottom:100px;
    }
}