.section_container {
    width:60%;
    border:1px solid #eee;
    box-shadow:0 2px 3px #ccc;  
    margin:auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding:30px;
    
}

.res_name_section {
    color: #ff8500;
    font-size: 30px;
    display:inline-block;
    font-weight: bold;
}

.res_score_section {
    display:inline-block;
    font-size: 20px;
    color: #ff8500;
    margin-left: 20px;
}

.res_category_section {
    margin-top: 10px;
    display:inline-block;
}

.res_desc_section {
    display:inline-block;
    margin-left:10px;
    margin-top: 10px;
}

.section_container:hover {
    box-shadow: 0 0 15px rgba(33,33,33,.5);
}

.pic_section {
    width:50%;
}