#container {
  padding-right:0;
  padding-left:0;
  width:103%; 
}

.header {
  margin-top: 50px;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}
.header_type1 {
    color:#ff8500;
}

.header_type2 {
  color:#ffffff;
}
.row_withheader {
  height:100px;
  margin-top: 50px;
}

.row_withcontents {
  height:500px;
}
.row_withcolor {
    background-color: #ff8500;
    margin-right:0px;

}
.react-multiple-carousel__arrow {
  z-index: 99 !important;
}
.react-multi-carousel-list {
  padding-bottom:30px !important;
}


