/* .navbar {
    opacity: 0.5;
} */

.fixedNavbar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: 0.5s;
}
.fixedNavbar .logo {
    float:left;
}
.logo img {
    height:80px;
    transition:.5s;
}
.navbar-ul {
    float : right;
    margin:0;
    padding:0;
    display:flex;
}
.navbar-ul li {
    list-style:none;
}
.navbar-ul li a {
    line-height:80px;
    font-size: 20PX;
    color:WHITE;
    padding:5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition:.5s;
}

.navbar-ul li a.active, .navbar-ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #ff8500 !important;
 
}

.black {
    background: white;
    z-index: 99;
    /* transition:.8s; */
    height:100px;
    padding:10px 50px;
    box-shadow: 0 2px 2px 3px rgba(0,0,0,.2);
    /* border-bottom:1px solid red; */
}


.main_row {
    position:absolute;
    top:30%;
    width:100%;
    color:white;
    font-size: 20px;
    margin:auto;
    text-align: center;
}
.main_title {
    font-size:30px;
    font-style:italic;
}

.main_title2 {
    margin-bottom:10px;

}
.main_title2 img {
    width:30%;
}

.nav_item_icon {
    width:15px;
    margin:5px;
    margin-top:0px;
}


.nav_bar_2 {
    width:100%;
    margin-left: 0px;
    overflow:hidden;
    position:fixed;
    top:0;

}

.nav_item_icon_2 {
    color:gray;
    width:15px;
    margin:5px;
    margin-top:0px;
}
.nav-item_2 a{
    color:gray !important;
}
.logo_nav_2 {
    display:inline;
}

.icon_maginifier {
    width:100%;
}
.input_container {
    position:relative;
}
.input_form {
    border-radius: 30px !important;
}
.burger_menu {
    width:100px;
    float:right;
    display:none;
    
}
.input_form_group_nav {
    width:50%;
    text-align:center;
    margin:auto;
}

.wrapper_icon_magnifier_nav {
    position:absolute;
    width:3%;
    height:auto;
    right:20px;
    bottom:50%;
}

@media only screen and (max-width:600px) {
    .navbar-ul {
        display:none;
    }

    .logo img {
        height:50px;
        transition:.5s;
    }
    .fixedNavbar {
        padding:20px;
    }
    .burger_menu {
        width:50px;
        float:right;
        display:flex;
    }
    #nav_main {
        height:50px !important
    }
    .main_title2 {
        margin-bottom: 15px;
    }

    .input_form_group_nav {
        width:70%;
    }
    .logo img {
        width:50px;
    }
    .wrapper_icon_magnifier_nav {
        width:10%;
        right:15px;
        padding:3px;
    }
    .input_form {
        height:28px !important;
        font-size:1.0rem !important
    }
        
    .nav_bar_2 {
        padding:20px;
    }
    .wrapper_burger {
        display:inline;
    }
}
